#imgGraphLoading {
  width: 340px;
  height: 340px;
  background: black;
  padding: 20px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(29,169,252,.3);
}

#imgGraphLoading div{
	width: 90%;
	height: 90%;
	border-radius: 100%;
	color: #fff !important;
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 0;
	margin: 0;
	transform: translate(-50%, -50%);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	font-size: 30px;
}
#imgGraphLoading img{
	width: 90%;
	height: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 0;
	margin: 0;
	transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
	#imgGraphLoading {
	  width: 223px;
	  height: 223px;
	  padding: 10px;
	}

	#imgGraphLoading div{
		font-size: 20px;
	}
}
